* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #3498db;
    padding: 20px 0;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2.5rem;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

main {
    padding: 40px 0;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    color: #3498db;
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    font-size: 1rem;
    line-height: 1.6;
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
}

.b{
    border: 3px solid rgb(0, 0, 0);
    background-color: #4CAF50; /* Cor de fundo verde */
    border: none; /* Remove a borda */
    color: #f8f8fa; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto no centro */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Exibe os botões na mesma linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 10px; /* Margem entre os botões */
    cursor: pointer; /* Cursor de mãozinha */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */  
}